<section id="main-info">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Create a resume book for your organization now for free!</h1>
        <p>Super easy to create a resume book and allow access to companies</p>
        <p>Sign up here and in a few clicks your members can start adding their resumes</p>
        <button type="button" class="btn btn-primary btn-lg">Create your resume book</button>
      </div>
    </div>
  </div>
</section>

