<section id="header">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Resumisto</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
              <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</section>

<section id="main-info">

  <div class="container-fluid blue-background tagline">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Create a resume book for your organization now for free!</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <img src="https://baremetrics.io/_themes/baremetrics/img/home/img-screenshot-007.png?v=1422896594" height="600" width="1000">
    </div>
  </div>


</section>

<section id="main-info">

  <div class="container-fluid white-background">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Create a resume book for your organization now for free!</h1>
      </div>
    </div>
  </div>


</section>