<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary btn-lg">Create a new resume book</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Your resume books</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Resume Books you can access</h2>
    </div>
  </div>
     <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Your resumes </h2>
    </div>
  </div>
  <hr>

</div>
